<form id="task-edit-form" (ngSubmit)="onSubmit(); taskForm.reset()" #taskForm="ngForm">
  <div class="form-group">
    <input type="text" name='name' class="form-control form-control-lg" [(ngModel)]="task.name" placeholder="Enter task name" required autofocus>
  </div>
  <div class="row">
    <div class="col-2"><button class="btn btn-success btn-md btn-block" type="submit" [disabled]="taskForm.form.invalid">Edit</button></div>
    <div class="col-2"><a (click)="onCloseForm()" class="btn btn-secondary btn-md btn-block">Cancel</a></div>
  </div>
</form>
