<html>
  <head>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <div class="container">
        <div class="row">
          <div class="col-4"></div>
        <div class="col-4"><h1>Simple ToDo List</h1></div>
        <div *ngIf="authToken.userSignedIn()" class="col-4">
          <a routerLink="/signin" (click)="authToken.signOut()" class="btn-sign-out float-right">
            <fa [name]="'sign-out'" [size]=2></fa>
          </a>
        </div>
        </div>
      </div>
    </nav>
      <div class="container">
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
  </body>
</html>
